body{
    background-color: black;
    color: #e33a07;
    font-family: 'Orbitron', 'Exo';
    display: block;
    text-align: center;  
}

.alerta{
    width: 58%;
    height: auto;
    text-shadow:0 0 5px rgb(248, 0, 0),0 0 8px rgb(212, 3, 3);
    margin: 0% auto;
}

.alerta img{
    width: 36%;
}

.alerta h1{
    font-size: 222%;
}

.alerta h3{
    font-size: 210%;
}

.alerta h4{
    font-size: 170%;
}

.alerta a{
    font-size: 150%;
    text-decoration: none;
    color:#ff3c00;
    box-shadow: 0 0 10px #FF3C00;
    padding: 2%;
}